exportClasses( SNPTrioExperiment, PedClass )
exportMethods(  pedigree, completeTrios, ids, geno, logR, baf, PedClass, SNPTrioExperiment, trios, GenoTrio, ctcbind, TransCount, "[" )
export(aTDT)
importMethodsFrom(GenomicRanges, "[")
