#importClassesFrom(MinimumDistance, Pedigree)
exportClasses( SNPTrioExperiment )
importMethodsFrom(snpStats, "[")
# exportClasses( Pedigree, TdtSet, gTrio, TrioSetList )
# exportMethods( show, trios, trioIndex, offspringNames, fatherNames, motherNames, sampleNames, allNames, completeTrios, geno, getGeno, getMAF, getMap, aTDT )
## export( Pedigree, gTrio, iTrio, TdtSet, genoMat, weaveMat, geno.mat.fn, pedigree, trios, aTDT)
## importFrom(Biobase, assayDataNew )
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
# Below are the contents from MD master branch NAMESPACE
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
##---------------------------------------------------------------------------
## Import
##---------------------------------------------------------------------------
## methods
## importMethodsFrom(methods, initialize, show)
## importFrom(methods, "@<-", callNextMethod, new, validObject, coerce)

## ## generics
## ##importFrom(BiocGenerics, order, nrow)
## import(BiocGenerics)

## ## Biobase imports
## importClassesFrom(Biobase, eSet, VersionedBiobase, Versioned)
## importMethodsFrom(Biobase, annotatedDataFrameFrom, "[", "$", annotatedDataFrameFrom, assayData, "assayData<-", dims, featureData, "featureData<-", fData, "fData<-", featureNames, pData, phenoData, "phenoData<-", protocolData, "protocolData<-", sampleNames, "sampleNames<-", storageMode, updateObject)
## importFrom(Biobase, assayDataElement, assayDataElementNames, assayDataElementReplace, assayDataNew, rowMedians, varLabels, fvarLabels)

## ## utils
## importFrom(utils, setTxtProgressBar, txtProgressBar, packageDescription)

## ## plotting
## importFrom(graphics, abline, axis, layout, legend, mtext, par, plot,
## 	   polygon, rect, segments, text)
## importFrom(lattice, xyplot, simpleKey, panel.grid, panel.xyplot, lrect, ltext,
## 	   lsegments,
## 	   lpoints, panel.number, current.panel.limits, panel.segments,
## 	   panel.axis, panel.abline)

## ##import(SNPchip) -- why do we need this?
## importFrom(stats, mad)

## ## IRanges
## ##importClassesFrom(IRanges, RangedData, IRanges, IntervalTree,
## ##		  DataTable, Vector, Annotated,
## ##		  List, SimpleList, CompressedList,
## ##		  RangesList, SimpleRangesList,
## ##		  RangedDataList,
## ##		  DataFrame,
## ##		  DataTableORNULL)
## ##importMethodsFrom(IRanges, start, end, width,"[", "[[","[<-", "[[<-", "$",
## ##		  nrow, "start<-", "end<-", stack, as.matrix)
## ##importFrom(IRanges, IRanges, RangedData, RangedDataList,
## ##	   findOverlaps, countOverlaps,
## ##	   ranges, values,
## ##	   matchMatrix, queryHits, subjectHits)
## import(GenomicRanges)

## ## oligoClasses
## importClassesFrom(oligoClasses, RangedDataCNV, RangedDataCBS, RangedDataHMM, gSet, gSetList)
## importMethodsFrom(oligoClasses, state, coverage2, chromosome, open, openff, closeff, mean,
## 		  GenomeAnnotatedDataFrameFrom, checkOrder, position, isSnp, baf, lrr, close,
## 		  genomeBuild, "genomeBuild<-", makeFeatureGRanges, numberProbes)
## importFrom(oligoClasses, RangedDataCNV, RangedDataCBS, RangedDataHMM, chromosomePositionOrder,
## 	   initializeBigMatrix, initializeBigArray, isPackageLoaded, ldPath, parStatus,
## 	   splitIndicesByLength, splitIndicesByNode, integerArray, integerMatrix, chromosome2integer,
## 	   getSequenceLengths)

## ## msm
## importFrom(msm, qtnorm, dtnorm)

## ## DNAcopy
## importFrom(DNAcopy, CNA, segment, smooth.CNA, getbdry)

## ## VanillaICE
## importFrom(VanillaICE, read.bsfiles, copyNumberLimits, viterbi2Wrapper, rowMAD, rescale)

## ## SNPchip
## importMethodsFrom(SNPchip, xyplot, xyplot2)
## importFrom(SNPchip, xypanel)

## ## ff
## import(ff)

## ## foreach
## import(foreach)

## ## -----------------------------------------------------------------
## ## Export
## ## -----------------------------------------------------------------
## exportClasses(Pedigree, TrioSet, TrioSetList)
## exportMethods("[", allNames,
## 	      annotatedDataFrameFrom,
## 	      baf,
## 	      "baf<-",
## 	      calculateMindist,
## 	      coerce,
## 	      computeBayesFactor,
## 	      dims,
## 	      fatherNames,
## 	      fatherPhenoData,
## 	      motherPhenoData,
## 	      phenoData,
## 	      lrr, "lrr<-",
## 	      mindist,
## 	      "mindist<-",
## 	      mad2,
## 	      motherNames,
## 	      ncol,
## 	      nrow,
## 	      offspringNames,
## 	      offspringPhenoData,
## 	      order,
## 	      pedigree,
## 	      ##sampleNames2,
## 	      segment2,
## 	      ##stack,
## 	      trios,
## 	      updateObject,
## 	      width,
## ##	      xyplot,
## 	      initialize, gcSubtract)
## export(callDenovoSegments,
##        concAtTop,
##        TrioSet,
##        TrioSetList,
##        TrioSetListLD,
##        correspondingCall,
##        discAtTop,
##        isDenovo,
##        narrow,
##        Pedigree,
##        stackRangedDataList,
## ##       xyplot,
##        xyplotTrio,
##        xypanelTrio)
## ##       xypanelMD)



