exportClasses( FamilyExperiment, PedClass )
exportMethods(  pedigree, completeTrios, ids, geno, cnv, logR, baf, PedClass, FamilyExperiment, trios, TransCount, "[", parents, MAF, aTDT, ScanTrio, CNVMatrix )
export(aTDT)
importMethodsFrom(GenomicRanges, "[")
